body {
  display: flex;
  flex-direction: column;
  background-color: pink;
  align-items: center;
}

img {
  width: 300px;
  height: 300px;
  border: 3px solid black;
}

#numNo {
  font-size: 24px;
}

#yesBtn {
  position: absolute;
  top: 70%;
  left: 40%;
  width: 100px;
  height: 100px;
  border-radius: 300px;
  background-color: green;
  font-size: 24px;
}

#yesBtn:hover {
  background-color: purple;
}

#noBtn {
  position: absolute;
  top: 70%;
  left: 55%;
  width: 100px;
  height: 100px;
  border-radius: 300px;
  background-color: red;
  font-size: 24px;
}
