header {
  width: 100%;
  text-align: center;
  font-size: 48px;
}

#content {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

#image {
  height: 140px;
  width: 108px;
  background: url('image/scottpilgrim_multiple.png') 0px 0px;
}
